@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media (max-height: 450px), only screen and (min-width: 480px) and (max-width: 1024px) {
  .wrap_home, .wrap_about, .wrap_skills, .wrap_work, .wrap_contact {
    flex-direction: column;
    .home_content, .about_content, .contact_content {
      width: 85%;
      padding-top: 5rem;
      padding-left: 5rem;
      justify-content: center;
      align-items: flex-start;
      .wrap_home_content_text, .wrap_about_content_text, .wrap_contact_content_text {
        min-width: 420px;
        .blast {
          font-size: 3.25rem;
        }
      }
    }
  }
  .wrap_contact {
    .wrap_google {
      display: none;
    }
  }

  #formId {
    max-width: 600px;
    margin-left: -100px;

  }

  .wrap_menu {
    flex-direction: row;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    .logo {
      height: 100%;
      width: 5%;
      min-width: 50px;
    }
    .navigation {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      width: 30%;
      min-width: 250px;
    }
    .social {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 15%;
      min-width: 120px;
      padding-right: 2%;
      padding-bottom: 0;
    }
  }
}

@media only screen and (max-width: 480px) {
  .wrap_home, .wrap_about, .wrap_skills, .wrap_work, .wrap_contact {
    flex-direction: column;
    height: 100vh;
    .home_content, .about_content, .contact_content {
      padding-top: 6.5rem;
      padding-left: 2rem;
      .wrap_home_content_text, .wrap_about_content_text, .wrap_contact_content_text {
        min-width: 320px;
        .blast {
          font-size: 2.5rem;
        }
      }
    }
    .wrap_contact {
      height: 150vh;
      overflow: visible;
    }
    .wrap_google {
      display: none;
    }
  }

  #formId {
    max-width: 300px;
    min-height: 400px;
    padding-bottom: 5%;

    .in:first-child {
      margin-right: 0;
    }

    .in:last-child {
      margin-bottom: 20px;
    }

    #txtarea {
      margin-bottom: 15px;
    }

    .in_wrap {
      max-width: 350px;
      min-width: 0;
      flex-wrap: wrap;
    }
  }

  .wrap_menu {
    flex-direction: row;
    height: 60px;
    width: 100%;
    .logo {
      height: 100%;
      width: 5%;
      min-width: 50px;
    }
    .navbar_hamburger {
      display: flex;
    }
    .toggle_navigation {
      display: flex;
      position: fixed;
      z-index: 999;
    }
    .navigation, .social {
      display: none;
    }
  }
}

@media screen and (max-height: 450px) {
  #formId {
    overflow: scroll;
    top: 50px;
    left: 50px;
  }
}

$dark: #252627;
$acid: #bbaf6c;
$neon-logo: #f9eb97;
$font-size-small: 1rem;
$white: #e0e0de;
$font-size-large: 3.57145rem;
$opacity: .7;
$menu-bg: #18160f;
$icon: #4d4d4e;
$height: 100vh;
$loader-size: 20vh;
$gradient: radial-gradient(ellipse at center, rgb(49, 44, 24) 0%, rgba(0, 0, 0, 0.73) 100%);
$stack: #8d8d8d;
$pad-l: 5%;

@mixin flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@mixin flex-content {
  display: inherit;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

@mixin luxury-button {
  border-color: $acid;
  border-radius: 2px;
  border-width: 1px;
  width: 150px;
  height: 30px;
  text-transform: uppercase;
  color: $acid;
  letter-spacing: 3px;
  font-size: 12px;
  background: $gradient;
  outline: none;
  cursor: pointer;
  &:hover {
    color: $dark;
    background: $acid;
  }
}

@mixin content-h2 {
  color: $acid;
  font-size: $font-size-large;
  font-weight: bolder;
  line-height: 1.5em;
}

@mixin content-txt {
  flex-direction: column;
  font-size: $font-size-small;
  line-height: 1.3em;
}
